$text-color: #00263e;
$main-color: #ff7600;
$sub-color: #069dff;
$bg-color: #ffffff;
$border: #dbdbdb;
$label-color: rgba($text-color, .8);
$border-style: 1px solid $border;
$width: 920px;
$item-page-width: 620px;

$header-nav-height: 3.25rem;
$footer-nav-height: 3.125rem;

$element-button-size: 4.5rem;

// for bulma
$primary: $main-color;
$primary-invert: findColorInvert($main-color);
$info: $sub-color;
$info-invert: findColorInvert($sub-color);
$file-name-border-color: $text-color;
$tabs-link-active-border-bottom-color: $primary;
$tabs-link-active-color: $primary;
$tabs-toggle-link-active-background-color: $primary;
$tabs-toggle-link-active-border-color: $primary;
$tabs-toggle-link-active-color: $primary-invert;
$box-shadow: 0 2px 3px rgba($black, 0.1), 0 0 0 1px rgba($black, 0.1) !default;
