$text-color: #2c3e50;
$main-color: #ff7400;
$bg-color: #fff8f2;
$border: #dbdbdb;
$border-style: 1px solid $border;
$width: 920px;
$item-page-width: 620px;

$header-nav-height: 52px;

$element-button-size: 4.5rem;

// for bulma
$info: $main-color;
$info-invert: findColorInvert($main-color);
$file-name-border-color: $text-color;
